<section id="conteneur">
	<header class="header-sub-menu  header-general" [ngStyle]="{'background-image': 'url(/assets/img/header/interventions.jpg)'}">
		<div class="header-cat">
			<p>Domaines d'intervention</p>
		</div>
		<div class="header-accroche">
			<h1>Mon périmète d'action</h1>
		</div>
	</header>

	<section class="qui-suis-je article-section">

		<h2>Domaines d'action</h2>
		<div class="titre-souligne"><div class="blue-ligne"></div></div>

		<div class="who-action">
			
			<article class="intitule-services table interaction" *ngFor="let intervention of interventions">
				<header>
					<h4>{{ intervention.nom }}</h4>
					<div class="img-poste-dev">
						<img src="/assets/img/intervention/{{ intervention.slug }}.png" alt="{{ intervention.nom }}">
					</div>
				</header>
				<p>{{ intervention.description }}</p>
				<div class="link-travx"><a  title="{{ intervention.nom }}" [routerLink]="['/interventions', intervention.id]">En savoir plus !</a></div>
			</article>
			
		</div>
			
	</section>
</section>
<footer-down></footer-down>