<section id="conteneur">

	<header class="header-contact header-general">
		<div class="header-cat">
			<p>Contact</p>
		</div>
		<div class="header-accroche">
			<h1>Puis-je vous aider ?</h1>
		</div>

	</header>
	<section class="article-contact article-section">
		<div>
			<h2>Vous avez des questions ?</h2>
			<div class="titre-souligne"><div class="blue-ligne"></div></div>
		</div>
		
		<div class="form-content">
			<form id="contact" #contactForm="ngForm" (ngSubmit)="envoyerMail(contactForm)">
				
				<span class="form_rn"></span>
				<div class="form-left">
					<div class="form-style">
						<label for="nom">Nom* :</label>
						<input type="text" class="nom" placeholder="Votre nom" name="nom" ngModel id="nom" />
						<span class="nom_rn"></span>
					</div>
					<div class="form-style">
						<label for="prenom">Prénom* :</label>
						<input type="text" class="prenom" placeholder="Votre prénom" name="prenom" ngModel id="prenom" />
						<span class="prenom_rn"></span>
					</div>
				</div>

				<div class="form-right">
					<div class="form-style">
						<label for="mail">Mail* :</label>
						<input type="email" class="mail" placeholder="Votre adresse mail" name="mail" ngModel id="mail">
						<span class="mail_rn"></span>
					</div>
					<div class="form-style">
						<label for="telephone">Téléphone :</label>
						<input type="tel" class="telephone" placeholder="Téléphone" name="tel" ngModel id="telephone">
						<span class="telephone_rn"></span>
					</div>
				</div>
				<div class="form-style clear">
						<label for="web">Site web :</label>
						<input type="url" class="url" placeholder="Votre site web" name="url" ngModel id="web">
						<span class="url_rn"></span>
					</div>
				<div class="form-message">
					<label for="message">Tapez votre message* : (Votre message est limité à 500 caratères !)</label>
					<span class="message_rn"></span>
					<textarea name="message" ngModel class="message" placeholder="Tapez votre message..." id="message"></textarea>
				</div>
				<div class="form-submit">
				<!-- on mettra les info de soumissiona ce niveau pour les requetes ajax -->
					<input class="sub_rn" type="submit" name="envoyer" value="Envoyer votre mail !" />
					<span class="form_rn"></span>
				</div>

			</form>
		</div>

	</section>

</section>
<footer-down></footer-down>