#logo-jw{
	float: none !important;
	margin: auto !important;
}
header.menu-desktop nav.navigation{
    display: none !important;
}
header.menu-desktop div.social-media{
	display: none;
}
.list-sub-menu{
	display: none;
}
/*MENU MOBILE*/
.background-mobile{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 3000;
	display: none;
	background-color: rgba(0,0,0,0.5);
}
/*Hamburger*/
#hamburger{
	height: 25px;
	width: 30px;
	position: absolute;
	top: 8px;
	left: 15px;
	margin: 15px;
	cursor: pointer;
	display: block;
}
#hamburger span{
	display: block;
	position: relative;
	width: 30px;
	height: 2px;
	background-color: #FFFFFF;
}
.top{
	top: 0px;
}
.middle{
	top: 8px;
}
.bottom{
	top: 16px;
}

/* Navigation mobile */

/* Chapeau */
header.menu-mobile{
	position: fixed;
	top:0;
	left: -250px;
	height: 100%;
	width: 250px;
	background: url('../img/main/noise.png') hsl(24, 20%, 98%);
	z-index: 4000;
	display: block;
}
.chapeau{
	height: 65px;
	background-color:#5AAFB3;
	position: fixed;
	top:0;
	left: -250px;
	width: 250px;
	z-index: 11;
	border-right: 10px solid #8ED1D4;
	border-bottom: 1px solid #8ED1D4;
}
#logo-menu-mobile{
	margin-left: auto;
	margin-right: 10%;
	width: 115px;
	padding: 6px; 
}
#logo-menu-mobile a{
	display: block;
}
#cross{
	height: 30px;
	width: 30px;
	position: absolute;
	top: 3px;
	left: 15px;
	margin: 15px;
	cursor: pointer;
}
#cross span{
	display: block;
  position: relative;
  width: 40px;
  height: 3px;
  background-color: #FFFFFF;
}
.haut{
	top: 0px;
	-ms-transform: translateY(14px) translateX(-5px) rotate(45deg); /* IE 9 */
  -webkit-transform: translateY(14px) translateX(-5px) rotate(45deg); /* Chrome, Safari, Opera */
  transform: translateY(14px) translateX(-5px) rotate(45deg);
}
.bas{
	top: 16px;
	-ms-transform: translateY(-5px) translateX(-5px) rotate(-45deg); /* IE 9 */
  -webkit-transform: translateY(-5px) translateX(-5px) rotate(-45deg); /* Chrome, Safari, Opera */
  transform: translateY(-5px) translateX(-5px) rotate(-45deg);
}

/* Menu liste principale mobiles */
/* La barre de defilement */
div.group-mobile-reseaux::-webkit-scrollbar{
	width: 10px;
	background: transparent;
} 
div.group-mobile-reseaux::-webkit-scrollbar-track-piece{
	background-color: #8ED1D4;
} 
div.group-mobile-reseaux::-webkit-scrollbar-thumb{
	background-color: #5AAFB3;
} 
div.group-mobile-reseaux::-webkit-scrollbar-thumb:hover{
	background-color: #208387;
} 
div.group-mobile-reseaux::-webkit-scrollbar-button:vertical:increment{
	background-color:  #FFFFFF;
	background-image: url('../img/main/chevron-down.png');
	background-repeat: no-repeat;
}  
div.group-mobile-reseaux{
	overflow-y: scroll;
	height: 100%;
	position: fixed;
	width: 250px;
	top: 0;
	left: -250px;
	z-index: 2500;
}
nav.mobile{
	width: 100%;
	margin-top: 65px;
}
nav.mobile ul{
	padding: 0;
	margin: 0;
}
nav.mobile ul li.group-mobile{
	display: block;
	list-style: none;
	width: 100%;
}
nav.mobile ul li.group-mobile a.main-categorie{
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: #5AAFB3;
	height: 60px;
  line-height: 60px;
  text-indent: 15px;
  border-left: 4px solid #5AAFB3;
  border-bottom: 1px solid #8ED1D4;
  background-color:#FFFFFF;
  text-decoration:none;
}
nav.mobile ul li.group-mobile a.main-categorie:hover{
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: #FFFFFF;
	height: 60px;
  line-height: 60px;
  text-indent: 15px;
  border-left: 4px solid #5AAFB3;
  border-bottom: 1px solid #8ED1D4;
  background-color:#5AAFB3;
  text-decoration:none;
}
.deplier-categorie{
	color: #FFFFFF !important;
	background-color:#208387 !important;
}
nav.mobile ul li.group-mobile a.icon-sub-mobile:after{
	font-family: 'Glyphicons Halflings'; 
  content: "\e114"; 
  color: #8ED1D4;
  font-size: 0.6em;
  display: block;
  float: right;
  margin-right: 40%;
}

/* Sous menu mobile */
ul.entity-sub-menu{
	display: none;
}
ul.entity-sub-menu li.ele-sub-menu{
	display: block;
	list-style: none;
	width: 100%;
}
ul.entity-sub-menu li.ele-sub-menu a{
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #797878;
	height: 30px;
  line-height: 35px;
  text-indent: 30px;
  border-bottom: 1px solid #797878;
  background-color: transparent;
}
/* Fin navigation mobile */

/* Reseaux mobile */
.reseaux{
	margin-top: 50px;
}
.reseaux ul{
padding: 0;
margin: 0;
}
.reseaux ul li{
	list-style: none;
	width: 100%;
}
.reseaux ul li a{
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #797878;

}
.reseaux ul li a span{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 25px;
}
.reseaux ul li a span::before{
	font-size: 1.5em;
	margin-right: 15px;
	font-family: 'FontAwesome'; 
	color: #797878;
}
.reseaux ul li a.icon-github span::before{
  content: "\f09b"; 
}
.reseaux ul li a.icon-pinterest span::before{
  content: "\f231"; 
}
.reseaux ul li a.icon-linkedin span::before{
  content: "\f0e1"; 
}
.reseaux ul li a.icon-google span::before{ 
  content: "\f0d5"; 
}

/* ************************************************ */

/* *************** MARGIN BLOCK **************** */
.mg-section{
    padding-left: 5%;
    padding-right: 5%;
}
.titre-competences h1{
	font-size: 2em;
}
.casquettes{
	/* display: flex; */
}
.casquettes,.echantillon-travaux{
	/* .echantillon-travaux */
	margin: 50px 6% auto 6%;
	text-align: center;
}
.link-comptences{
	padding-top: 45px;
}
.general-section-white{
	font-size: 2.4em;
}
.general-section{
	font-size: 2.5em;
}
.link-contact{
	width: 100%;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.article-section{
	margin: auto 7%;
}
.header-general div.header-cat{
	margin: auto 4%;
	padding-top: 80px;
}
.header-general div.header-accroche{
	margin: auto 4%;
	padding-top: 20px;
}
.list-fonctionnelle article{
	margin: 15px;
}
.block-competences{
	width: 100%;
}
.block-competences:nth-child(1),
.block-competences:nth-child(3),
.block-competences:nth-child(5),
.block-competences:nth-child(7){
    margin-right: 0;
}
.icon-competences{
    width: 20%;
}
.info-competences{
    width: 80%;
}
.identite,.info-identite{
	width: 100%;
	display: block;
}
.parcours-objectif,.parcours-presentation{
	width: 100%;
	display: block;
}
.poste-dev,.list-travaux{
	/* .list-travaux */
	width: 230px;	
}
.poste-environement{
    /* display: flex; */
}
.poste-occupe{
    width: 100%;
}
.env-travx{
    width: 100%;
    border-top: 2px solid #4E4F62;
    min-height: 100px;
    padding: 20px 20px;
}
.name-poste-occupe h3{
	font-size: 1.6em;
	padding-right:10px;
}
.techno-img{
	padding: 15px;
}
.techno-img img{
	width: 100%;
}
.lg-env-travx p{
	text-align: center;
}
.mg-left-right{
    padding-left: 10px;
    padding-right: 10px;
}
.detail-mission{
	padding-left: 5%;
	padding-right: 5%;
}
.precedent,.suivant{
	width: 100%;	
}
.arrow-up>a>span{
	font-size: 2.5em;
}
.footer-social-media{
	/* margin-left: 5%;
	margin-right: 5%; */
}
.arrow-precedent span.glyphicon,.arrow-suivant span.glyphicon{
	font-size: 30px;
}
.filter-categories{
	/* display: flex; */
	min-height: 45px;
}
.choix-categorie{
	width: 100%;
	display: inline-block;
}
.je-filtre{
	width: 100%;
	display: inline-block;
	border-top: 1px solid #8ED1D4;
}
/* **************** PAGE CONTACT *************** */
.form-left{
	width: 100%;
}
.form-right{
	width: 100%;
}
/* *************** POLICE BLOCK **************** */
.header-general div.header-accroche h1{
	font-size: 2.2em;
}
.form-submit input{
	font-size: 1em;
}

.parcours-presentation p{
	text-align: left;
}
.parcours-objectif p{
	text-align: left;
}

.icon-competences img{
	width: 100%;
}