<section id="conteneur">

	<header class="header-competences header-general" [ngStyle]="{'background-image': 'url(/assets/img/header/competences.jpg)'}">
		<div class="header-cat">
			<p>Compétences</p>
		</div>
		<div class="header-accroche">
			<h1>Quelles compétences puis-je vous apporter ?</h1>
		</div>

	</header>
	<section class="article-competences article-section">
	
		<div class="link_cv">
			<a href="https://drive.google.com/file/d/0B-h1w_O9Ak36NHgxT0dYQVpjclk/view?usp=sharing" title="Mon C.V en PDF" target="_blank">Mon C.V en PDF</a>
		</div>
		<h2>Mes Compétences fonctionnelles</h2>
		<div class="titre-souligne"><div class="blue-ligne"></div></div>

		<div class="list-fonctionnelle">
			<article>
				<header>
					<div class="cat-travx"><h3>Travaux<br>Front end</h3></div>
					<div class="nb-travx"><p>05</p></div>
				</header>
				<div class="link-travx"><a href="/travaux/front-end/" title="Accès Front end">Voir mes travaux</a></div>
			</article>
						<article>
				<header>
					<div class="cat-travx"><h3>Travaux<br>Back end</h3></div>
					<div class="nb-travx"><p>03</p></div>
				</header>
				<div class="link-travx"><a href="/travaux/back-end/" title="Accès Back end">Voir mes travaux</a></div>
			</article>
						<article>
				<header>
					<div class="cat-travx"><h3>Travaux<br>UI design</h3></div>
					<div class="nb-travx"><p>05</p></div>
				</header>
				<div class="link-travx"><a href="/travaux/ui-design/" title="Accès UI design">Voir mes travaux</a></div>
			</article>
				
		</div>


		<h2>Mes compétences techniques</h2>
		<div class="titre-souligne"><div class="blue-ligne"></div></div>

		<div class="list-competences">

		<!-- voici un bloc tyle pour mes compétences -->
			<competences></competences>
			
		</div>

			
			<h2>Mes expériences professionnelles</h2>
			<div class="titre-souligne"><div class="blue-ligne"></div></div>

			<experiences></experiences>

	</section>


</section>
<footer-down></footer-down>