<section id="conteneur">

<header class="header">

	<div class="txt-accroche-home">
		<div class="titre-accroche">
			<p class="one">Jopha Freddy</p>
		</div>
		<div class="titre-competences">
			<h1>Développeur Front-End/Back-End</h1>
		</div>


		<div class="link-comptences">
			<a href="competences/" title="Compétences" class="lk-competences" >mes compétences</a>
		</div>

	</div>
	

</header>

<section id="quiSuisJe" class="presentation">


	<header>
		<h2 class="general-section">Qui suis-je ?</h2>
		<div class="accroche-presentation">
				<p>Dans mes projets, je cherche la simplicité.</p>
		</div>
	</header>

	<div class="casquettes">

		<article class="poste-dev">
			<header>
				<h3><span>Développeur</span> Front End</h3>
				<div class="img-poste-dev">
					<img src="/assets/img/presentation/front-end.png" alt="Développeur Front End">
				</div>
			</header>
			<p>J'assemble de façon optimale différents éléments <strong>HTML</strong> validés <strong>W3C</strong> et <strong>SEO</strong> qui interagissent avec mes composants <strong>JavaScript</strong>.</p>
		</article>

		<article class="poste-dev">
			<header>
				<h3><span>Dévelopeur</span> Back End</h3>
				<div class="img-poste-dev">
					<img src="/assets/img/presentation/back-end.png" alt="Développeur Back End">
				</div>
			</header>
			<p>Je développe des sites web dymaniques en <strong>PHP</strong> et je gère ma <strong>base de données relationnelles</strong> avec <strong>MySql</strong>.</p>
		</article>

		<article class="poste-dev">
			<header>
				<h3>UI <span>Designer</span></h3>
				<div class="img-poste-dev">
					<img src="/assets/img/presentation/ui-designer.png" alt="Graphiste web">
				</div>
			</header>
			<p>Pour votre <strong></strong> identité sur le web, je crée des <strong>logos</strong>, <strong>chartes graphiques</strong> et <strong>maquettes fonctionnelles</strong> pour un <strong>aspect visuel</strong> et une <strong>expérience utilisateur</strong> optimale.</p>
		</article>

	</div>

	<footer>
		<div class="link-presentation">
			<a href="/assets/presentation/qui-suis-je/" title="Services"><span class="verbus">Connaître</span> mon métier</a>
		</div>
	</footer>

</section>
<section class="travaux">
	<header>
		<h2 class="general-section-white">fontionnalités web</h2>

		<div class="accroche-presentation-white">
				<p>Des modules fontionneles qui répondent à vos besoins.</p>
		</div>
	</header>
	

	<div class="echantillon-travaux">

		<!-- <travaux></travaux> -->

	</div>

	<footer>
		<div class="link-fonctionnalites">
			<a href="/assets/travaux/front-end/" title="Travaux"><span class="verbus-fc">Lire</span> mes travaux</a>
		</div>
	</footer>

</section>

<section class="competences">
	<header>
		<h2 class="general-section">Mes compétences</h2>

		<div class="accroche-presentation">

			<span></span>
				<p>Quelles compétences puis-je vous apportez aujourd'hui ?</p>
			<span></span>

		</div>
	</header>

	<div class="list-competences mg-left-right mg-section">

		<!-- voici un bloc tyle pour mes compétences -->

			<competences></competences>

	</div>
	<footer>
		<div class="link-competences">
			<a href="/assets/competences/" title="Compétences"><span class="verbus-comp">Voir</span> mes compétences</a>
		</div>
	</footer>

</section>

<footer class="contact">
	<div class="block-contact">
		<h2 class="general-section-white">contacter-moi !</h2>
		<div class="link-contact">
			<a href="/assets/contact/" title="contact" class="lk-contact" >Formulaire de contact</a>
		</div>
	</div>
</footer>

</section>
<footer-down></footer-down>